<div class="container">
    <div class="row w-100">
        <div class="col-4">
            <br><h1>Juego de Cartas lobo x32 cartas</h1>
            <img src='../assets/img/sep.png'><br><br>
            <p>
                Juega hasta con 32 amigos con este <br>
                set de cartas para jugar lobo, mientras <br>
                bebes, comes, en fiestas, parques, en la <br>
                universidad, un juego para todos. <br>
            </p>
            <img src='../assets/img/sep.png'><br><br>
            <h1>5 USD!</h1>
        </div>
        <div class="col-sm-8"> 
            <img class='lobo-img' src='../assets/img/cards.png'>
        </div>
    </div>
</div>