.lobo-img{
    width: 100%;
    height: 100%;
}
h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
}
p{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
}

.btn-dark{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
}