<div class="container">
    <div class="row w-100">
        <div class="col-4">
            <br><h1>Diviertete con tus amigos</h1>
            <img src='../assets/img/sep.png'><br><br>
            <p>El mejor juego de rol de todos,<br>
                juega ya con nuestras cartas y <br>
                entra en este mundo de mentiras,<br>
                engaños, y asesinatos...</p>
            <img src='../assets/img/sep.png'><br><br>
        <div routerLinkActive="active">
            <h1>Compra Ahora!</h1>
        </div>
        </div>
        <div class="col-xl-8"> 
            <img class='lobo-img' src='../assets/img/cards.png'>
        </div>
    </div>
</div>